# Python / Django
__pycache__/
*.pyc
.venv/
.pytest_cache/
db.sqlite3

# Environment variables (secrets)
.env
.env.railway
.env.*

# macOS
.DS_Store

# Docker
**/tmp/
*.log

# Node/Web (на будущее)
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# Ignore nested git repos
tg-nanobanana/