version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    env_file: .env
    ports: ["8000:8000"]
    depends_on: [redis]
  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    env_file: .env
    depends_on: [redis, web]
  beat:
    build:
      context: .
      dockerfile: Dockerfile.worker
    command: ["celery","-A","config.celery:app","beat","-l","INFO"]
    env_file: .env
    depends_on: [redis]
  redis:
    image: redis:7-alpine

